
.episode {
    margin: 0 16px;
}

.img {
    height: 240px;
    width: 300px;
    background-color: dimgrey;
}

.episodesBlock {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: stretch;
    flex-wrap: wrap;
    overflow: auto;
    position: fixed;
}

.child {
    height: 20px;
    background: green;
}
