.container {
    text-align: center;
    padding: 4px 0;
}
.logo {
    height: 144px;
    width: 460px;
}
.toolbar1{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
    margin: 12px 0;
}

.toolbar1>button {
    margin: 8px;
}
.superInput {
    outline: none;
    padding: 4px 16px;
    font-size: 16px;
    border-radius: 35px;
    margin: 5px 0;
    border: 2px solid #dce4ec;
    color: #4c4e52;
}


@media screen and (max-width: 520px) {
    .logo {
        height: 60%;
        width: 60%;
    }
}
